/* CSS declarations go here */
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

.active {
    overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

h5 {
    color: black;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.pBlack {
    color: black;
}

.bg-primary {
    background-color: #f05f40;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

/*.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}*/

.navbar-default {
    background-color: #315481;
    /*border-color: transparent;*/
}

    .navbar-default .navbar-brand {
        color: #ff3333;
        font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    }

        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
            color: #ff3333;
        }

    .navbar-default .navbar-collapse {
        border-color: #315481;
    }

    .navbar-default .navbar-toggle {
        background-color: #ff3333;
        border-color: #ff3333;
    }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #000;
        }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #ff3333;
        }

    .navbar-default .nav li a {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        color: #000;
    }

        .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
            color: #ff3333;
            outline: 0;
        }

    .navbar-default .navbar-nav > .active > a {
        border-radius: 0;
        color: #000;
        background-color: #ff3333;
    }

        .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
            color: #000;
            background-color: #ff3333;
        }

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        /*background-color: transparent;*/
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #000;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #000;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #000;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.quizQuestions {
	position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.editQuiz {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.modelAnswers {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.answerAnalysis {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.designThinkingActivity {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.solveDesignThinkingActivity {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    .quizQuestions {
    	min-height: 100%;
        min-width: 100%;
    }

    .editQuiz {
        min-height: 100%;
        min-width: 100%;
    }

    .modelAnswers {
        min-height: 100%;
        min-width: 100%;
    }

    .answerAnalysis {
        min-height: 100%;
        min-width: 100%;
    }

    .designThinkingActivity {
        min-height: 100%;
        min-width: 100%;
    }

    .solveDesignThinkingActivity {
        min-height: 100%;
        min-width: 100%;
    }
}

.header_title {
  width: 500px;
}
.header_nav {
	width: 200px;
	float: right;
}
.box_title {
	color: rgb(250,250,250);
	line-height: 45px;
}
ul#nav li {
	display: inline;
}

#pageTabs {
    margin: 5px;
    margin-left: 80px;
    margin-right: 80px;
    border: 1px solid black;
}
#Announcement {
	width: 200px;
	height: 100px;
	float: left;
	text-align: center;
	margin-left: 100px;
	margin-bottom: 50px;
	background-color: rgb(37, 99, 171);
}
#Forum {
	width: 200px;
	height: 100px;
	float: left;
	text-align: center;
	margin-left: 100px;
	margin-bottom: 50px;
background-color: rgb(72, 168, 67);
}
#Multimedia {
	width: 200px;
	height: 100px;
	float: left;
	text-align: center;
	margin-left: 100px;
	margin-bottom: 50px;
	background-color: rgb(235, 157, 61);
}
#Files {
	width: 200px;
	height: 100px;
	float: left;
	text-align: center;
	margin-left: 100px;
	margin-bottom: 50px;
	background-color: rgb(206, 60, 62);
}

.d3board {
    display: inline;
    font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

#canvas-display {
  border: solid 1px black;
  cursor: crosshair;
  float: left;
}

#canvas-display2 {
  border: solid 1px black;
  cursor: crosshair;
  float: left;
}

#colors {
  background-color: #fff;
  border: 1px solid #000000;
  display: none;
  float: left;
  left: -55px;
  margin-top: 10px;
  padding: 0;
  position: relative;
  width: 50px;
}

#colors li {
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  cursor: pointer;
  float: left;
  margin: 1px;
  list-style: none;
}

#colors li.selected {
  border: solid 1px #eee;
}

#controls {
  background: none repeat scroll 0 0 grey;
  border: 1px solid;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: -72px;
  opacity: 0.7;
  padding: 5px;
  position: relative;
  top: 5px;
}

#control-buttons {
  background-color: gray;
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
  display: none;
  float: left;
  margin-left: 1px;
  margin-top: -20px;
  opacity: 0.7;
  padding: 10px;
  position: relative;
  width: 378px;
}


/*Break line below Xu Chen*/
#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#activity_panel {
    width: 550px;
    height: 500px;
    float: left;
    padding: 10px;
    margin: 10px;
}

#side_information {
    height: 500px;
    width: 300px;
    float: right;
    padding: 10px;
    margin: 10px;
}

#group_list_panel {
    width: 300px;
    float: left;
    padding: 10px;
    margin: 10px;
}